git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
git+https://github.com/SunDwarf/asyncqlio.git

asyncpg
colorthief
lru_dict
more-itertools
parsedatetime
psutil
python-dateutil
webcolors